.about-section {
    background-color: #FFF9F1;
    /* beige clair */
    padding: 60px 8%;
    color: #333;
}

.about-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: #D4A373;
    text-transform: uppercase;

}

.about-content {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.about-text {
    flex: 1;
    min-width: 300px;
    font-size: 1.1rem;
    line-height: 1.6;
}