.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: wheat;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    background-color: white;
}

.navbar-container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 🟡 Logo */
.navbar-logo img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    background-color: #fff;
    padding: 3px;
}

.navbar-logo img:hover {
    transform: scale(1.05);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
    /* texte gris foncé */
    font-weight: 500;
    transition: color 0.3s;
    text-transform: uppercase;

}

.nav-links a:hover {
    color: #D4A373;
    /* accent beige chaud */
}