.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(241, 214, 140, 0.937);
    z-index: 100;
    background-color: whitesmoke;
}

.navbar-container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.profile-name {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-style: italic;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
    /* texte gris foncé */
    font-weight: 500;
    transition: color 0.3s;
    text-transform: uppercase;

}

.nav-links a:hover {
    color: #D4A373;
    /* accent beige chaud */
}