.projects-section {
    background-color: #FFF9F1;
    padding: 80px 10%;
    color: #333;
    text-align: center;
}

.projects-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #D4A373;
    text-transform: uppercase;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

/* Carte projet */
.project-card {
    background-color: #FFF9F1;
    border: 2px solid #D4A373;
    border-radius: 15px;
    overflow: hidden;
    width: 330px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

/* Image */
.project-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Contenu */
.project-content {
    padding: 20px;
    text-align: left;
    gap: 10px;
}

.project-content h3 {
    color: black;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.project-content p {
    font-size: 0.95rem;
    line-height: 1.5;
    color: black;
}

.project-tech {
    margin-top: 8px;
    font-style: italic;
    color: #A47A4A;
    font-weight: bold;
}

.project-btn {
    display: inline-block;
    margin-top: 15px;
    background-color: #D4A373;
    color: white;
    padding: 10px 18px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.project-btn:hover {
    background-color: #C49A6B;
    color: white;
}

.project-card:nth-child(1) {
    background: url("./assets/restaurant-bg.jpg") center/cover no-repeat;
    opacity: 0.8;
}

.project-card:nth-child(2) {
    background: url("./assets/medical-bg.jpg") center/cover no-repeat;
    opacity: 0.8;
}

.project-card:nth-child(3) {
    background: url("./assets/portfolio-bg.jpg") center/cover no-repeat;
    opacity: 0.8;
}