.projects-section {
    background-color: #FFF9F1;
    padding: 80px 10%;
    color: #333;
    text-align: center;
}

.projects-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #D4A373;
    text-transform: uppercase;
}

.projects-title::after {
    content: "";
    width: 80px;
    height: 4px;
    background: #D4A373;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

/* Carte projet */
.project-card {
    background-color: #FFF9F1;
    border: 2px solid #D4A373;
    border-radius: 15px;
    overflow: hidden;
    width: 320px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

/* Image */
.project-image {
    width: 100%;
    height: 130px;
    object-fit: cover;
    display: block;
    border-bottom: 2px solid #D4A373;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    opacity: 0.8;
}


/* Contenu */
.project-content {
    padding: 10px;
    text-align: left;
    gap: 10px;
}

.project-content h3 {
    color: black;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.project-content p {
    font-size: 0.95rem;
    line-height: 1.5;
    color: black;
}

/* Conteneur des badges */
.project-tech-list {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

/* Style des badges */
.tech-badge {
    background-color: #f3e8d9;
    color: #7a5c3e;
    padding: 6px 12px;
    font-size: 0.85rem;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border: 1px solid #e6d5c3;
    transition: 0.2s;
}

/* Effet hover */
.tech-badge:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}


.project-btn {
    display: inline-block;
    margin-top: 15px;
    background-color: #D4A373;
    color: white;
    padding: 10px 18px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}

.project-btn:hover {
    background-color: #C49A6B;
    color: white;
}

.project-footer {
    display: flex;
    align-items: center;
    gap: 20px;
    /* espace entre le bouton et l'image */
    margin-top: 10px;
}

.project-screenshot {
    width: 150px;
    /* taille de la capture */
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .project-card {
        flex-direction: column;
        width: 100%;
    }
}